<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AdminIPAddress" value="" />
    <add key="AdminPort" value="2323" />
    <add key="AdminUriPattern" value="Admin" />
    <add key="GraphIPAddress" value="" />
    <add key="GraphPort" value="2323" />
    <add key="GraphUriPattern" value="Graph" />
    <add key="RESTServicePattern" value="REST" />
  </appSettings>
</configuration>