<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoSQL.GraphDB.Service.REST.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NoSQL.GraphDB.Service.REST.Config>
            <setting name="AdminIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPort" serializeAs="String">
                <value>2323</value>
            </setting>
            <setting name="GraphIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="GraphPort" serializeAs="String">
                <value>2323</value>
            </setting>
            <setting name="GraphUriPattern" serializeAs="String">
                <value>Graph</value>
            </setting>
            <setting name="AdminUriPattern" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="RESTServicePattern" serializeAs="String">
                <value>REST</value>
            </setting>
        </NoSQL.GraphDB.Service.REST.Config>
    </userSettings>
</configuration>